In [1]:
import geopandas
import pandas as pd
import glob
import os
from pathlib import Path

In [2]:
os.chdir(Path().resolve().parents[0])

In [3]:
staging_dir = Path('./data/staging/')
allFileNames = [file for file in staging_dir.glob('*.csv')]
allFileNames

[WindowsPath('data/staging/Home_Hotspots_2.csv'),
 WindowsPath('data/staging/Outdoor_2.csv'),
 WindowsPath('data/staging/SMB_2.csv')]

In [4]:
df1 = pd.read_csv(allFileNames[0])
df2 = pd.read_csv(allFileNames[1])
df3 = pd.read_csv(allFileNames[2])

In [5]:
df1['type'] = 'home_hotspot'
df2['type'] = 'outdoor'
df3['type'] = 'smb'

In [ ]:
# df1.columns
# df2.columns
# df3.columns

In [6]:
df1.rename(columns={'AP Mac':'apMAC', 'Zip_Code':'Zipcode'}, inplace=True)
df2.rename(columns={'AP Mac':'apMAC', 'Zip Code':'Zipcode', 'Site ID':'SiteID', 'Street 2':'Street2'}, inplace=True)
df3.rename(columns={'AP Mac':'apMAC', 'Zip Code':'Zipcode'}, inplace=True)

In [7]:
df =  pd.concat([df1, df2, df3])

In [8]:
gdf = geopandas.GeoDataFrame(
    df, geometry=geopandas.points_from_xy(df.Longitude, df.Latitude))

In [9]:
gdf.head()

,apMAC,Model,Street,Street2,City,State,Zipcode,Latitude,Longitude,Region,Zone,Zone Type,SiteID,type,geometry
0,3C:7A:8A:84:1E:FC,NaN,1305 KATER ST,NaN,PHILADELPHIA,PA,19147,39.943095,-75.163699,Freedom,South St Zone 1,Secondary,NaN,home_hotspot,POINT (-75.16370 39.94309)
1,5C:8F:E0:B1:18:02,NaN,1110 N HOPE ST,NaN,PHILADELPHIA,PA,19123,39.967898,-75.137222,Freedom,Fishtown,Secondary,NaN,home_hotspot,POINT (-75.13722 39.96790)
2,00:1D:D5:BC:E9:74,NaN,631 S 9TH ST,NaN,PHILADELPHIA,PA,19147,39.941791,-75.157001,Freedom,South St Zone 1,Secondary,NaN,home_hotspot,POINT (-75.15700 39.94179)
3,9C:34:26:71:66:D8,NaN,833 BAINBRIDGE ST,NaN,PHILADELPHIA,PA,19147,39.941846,-75.156767,Freedom,South St Zone 1,Secondary,NaN,home_hotspot,POINT (-75.15677 39.94185)
4,78:23:AE:F2:47:77,NaN,1137 PINE ST,APT 103,PHILADELPHIA,PA,19107,39.945278,-75.160919,Freedom,South St Zone 1,Secondary,NaN,home_hotspot,POINT (-75.16092 39.94528)

In [10]:
gdf.to_csv('./data/final/gis-master.csv', encoding='utf-8')