In [1]:
import pandas as pd
import os
from pathlib import Path

In [6]:
os.chdir(Path().resolve().parents[0])

In [8]:
df = pd.read_csv('./data/final/gis-master.csv')

In [7]:
df = pd.read_csv('C:/Users/thetr/Documents/snmp.csv')

In [8]:
df.head()

                SNMP
0  74:EA:E8:F2:C9:25
1  74:EA:E8:F2:CB:AD
2  74:EA:E8:F2:CD:4D
3  74:EA:E8:F2:CD:5D
4  74:EA:E8:F2:CD:61

In [11]:
# grab last 2 digits and decrease 1 to match with snmp table
df['last_digit'] = df['SNMP'].apply(lambda x: int(x[15:17], 16) +1) 
# access the last two digits and convert to hex
df['last_hex'] = df['last_digit'].apply(lambda x: hex(x)[2:].upper())
# create new mac with +1 attributes
df['snmpReportedMac'] = df['SNMP'].apply(lambda x: x[:15]) + df['last_hex']
# drop temp columns
df = df.drop(['last_digit', 'last_hex'], axis=1)

In [12]:
df

                  SNMP    snmpReportedMac
0    74:EA:E8:F2:C9:25  74:EA:E8:F2:C9:26
1    74:EA:E8:F2:CB:AD  74:EA:E8:F2:CB:AE
2    74:EA:E8:F2:CD:4D  74:EA:E8:F2:CD:4E
3    74:EA:E8:F2:CD:5D  74:EA:E8:F2:CD:5E
4    74:EA:E8:F2:CD:61  74:EA:E8:F2:CD:62
..                 ...                ...
111  F8:2D:C0:BF:96:65  F8:2D:C0:BF:96:66
112  F8:2D:C0:BF:96:69  F8:2D:C0:BF:96:6A
113  F8:2D:C0:BF:96:6D  F8:2D:C0:BF:96:6E
114  F8:2D:C0:BF:96:75  F8:2D:C0:BF:96:76
115  F8:2D:C0:BF:96:79  F8:2D:C0:BF:96:7A

[116 rows x 2 columns]

In [16]:
df.to_csv('./data/final/gis-master_snmpMAC_updated.csv', encoding='utf-8')